{% extends "auctions/layout.html" %}

{% block main %}
<h2>Active Listings</h2>

<article>
    {% if message is not None %}
        {{ message }}
        <section>
            <a href="{% url 'auctions:index' %}"> Auctions</a>
        </section>        
    {% else %}    
        <ul>
            {% for item in auction %}
                <li>
                    <img src="{{ item.imageURL.url }}">
                    <a href="{% url 'auctions:listing' item.id %}">{{ item.title }}:</a>
                    <p>Price: {{ item.price }}</p>
                    <p>Starting Bid: {{ item.starting_bid }}</p>
                    <p>Category: {{ item.category }}</p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}    
</article>
{% endblock %}
