{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
        <link rel="stylesheet" href="{% static 'auctions/uaa490styles.css' %}" >
    </head>
    <body>
        <header>
            <h1>Auctions "R" Us</h1>
            <nav>
                <span>
                    <a href="{% url 'auctions:index' %}">Active Listings</a>
                    <a href="{% url 'auctions:categories' %}">Categories</a>
                    <a href="{% url 'auctions:watchlist' %}">Watchlist</a>
                    <a href="{% url 'auctions:create' %}">Create Listing</a>
                </span>
                <span>
                    {% if user.is_authenticated %}
                        Welcome <strong>{{ user.username }}!</strong>
                        <a href="{% url 'auctions:logout' %}">Log Out</a>
                    {% else %}
                        <a href="{% url 'auctions:login' %}">Log In</a>
                        <a href="{% url 'auctions:register' %}">Register</a>
                    {% endif %}
                </span>
            </nav>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
    </body>
</html>
